<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="empDAO" class="task2_with_xml_bean.EmpDAOImpl"/>

    
    <bean id="empservice" class="task2_with_xml_bean.EmpS">
    
        <property name="employeeDAO" ref="empDAO" />
          
    </bean>

</beans>
