<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="creditCard" class="myprpkg.CreditCardPayment" />
    
    <bean id="debitCard" class="myprpkg.DebitCardPayment" />

    
    <bean id="paymentProcessor" class="myprpkg.PaymentProcessor">
    
        <property name="creditCard" ref="creditCard" />
        
        <property name="debitCard" ref="debitCard" />
    </bean>

</beans>
